<!DOCTYPE html>
<html>
<head>
	<title>Bienvenu(e)</title>
</head>
<body>
	<p>Bienvenu(e) sur notre application <strong><%=@name%></strong>, on espère que tu aimes... sinon, va ici pour voir , créer, modifier ou aussi supprimer les <a href="/home/index">gossips</a>.</p>
</body>
</html>

