<div class="form">
  <form method="POST" action="/ajouter/ajouter/">
  <div class="form-group" >
    <label for="exampleInputAuthor">Author</label>
    <input type="text" class="form-control" id="exampleInputAuthor"  placeholder="Author" name="author_gossip">
  </div>
  <div class="form-group">
    <label for="exampleInputContent">Taper ici votre Gossip</label>
    <textarea class="form-control" id="exampleInputContent" name="gossip"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
</div>