<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Andee</th>
      <th scope="col">Hasina</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Numéro</th>
      <td>0323203232</td>
      <td>0343403434</td>
    </tr>
    <tr>
      <th scope="row">Adresse mail</th>
      <td> <a href="https://mail.google.com">andyrakt@gmail.com</a></td>
      <td> <a href="https://mail.google.com">hasina@gmail.com</a></td>
    </tr>
  </tbody>
</table> 

<!-- kijioejdi -->